{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
<!-- Imprimiento el mensaje -->
{% for message in app.flashes('exito') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


{{ form(formulario) }}






{% endblock %}
